.main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.usersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.userEl {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border: 1px solid var(--color-primary);
}